body {
    background-color: #fae100;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: 'anton';
    src: url(Anton-Regular.ttf) format(ttf);
}

h1 {
    font-family: anton;
}

h2 {
    font-family: anton;
}

.subhl {
    font-size: 4rem;
    padding: 0px 30px
}

/* Navigation */
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fae100;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar-logo img {
    height: 40px;
    z-index: 1000;
    position: relative;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
}

.navbar-links a:hover {
    background-color: #000;
    color: #fae100;
}

/* Burger Menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active {
    transform: translateX(0);
}

/* Burger Menu Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Hero */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(logo-icon.png);
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 600px; 
}

.hero-content h1 {
    font-size: 6.5rem;
    line-height: 6rem;
}

.hero-content p {
    padding-top: 15px;
}

.hero-content .hashtag {
    font-weight: 1000;
}

.hero-content .hashtag a {
    text-decoration: none;
    color: #000;
}

.CTA a {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    margin-top: 15px;
    text-decoration: none;
    border: 1px solid #000;
}

.CTA a:hover {
    color: #000;
    background-color: #fae100;
    border: 1px solid #000;
}

/* Content Boxes */

.outside {
    background-color: #fff;
    justify-content: center;
    align-content: center;
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: #fff;
    padding: 75px 0px;
    width: 100%;
}

.content-box {
    background-color: #fff;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-box img {
    width: 100%;
    height: auto;
}

.content-box .text {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

.content-box button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content-box button a {
    text-decoration: none;
    color: #fff;
}

.content-box button a:hover {
    color: #000;
}

.content-box button:hover {
    background-color: #fae100;
    color: #000 !important;
}

.content-box .hashtag {
    font-weight: 1000;
}

.content-box .hashtag a {
    text-decoration: none;
    color: #000;
}

.content-box .hashtag a:hover {
    color: #fae100;
}

/* Content box bottom */

.content-box-bottom {
    background-color: #fff;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-box-bottom a {
    color: #fff;
    text-decoration: none;
}

.content-box-bottom img {
    width: 25%;
    height: auto;
    margin-top: 25px;
}

.content-box-bottom img.testimony {
    width: 33%;
    height: auto;
    margin-top: 25px;
}

.content-box-bottom .text {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.content-box-bottom button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content-box-bottom button:hover {
    background-color: #fae100;
    color: #000;
}

.content-box-bottom .hashtag {
    font-weight: 1000;
}

.content-box .hashtag a {
    text-decoration: none;
    color: #000;
}

.content-box .hashtag a:hover {
    color: #fae100;
}

.divider {
    width: 1px;
    height: auto;
    background-color: #ababab;
    margin: 0px 50px;
}


/* FAQ */

#list {
    background-color: #fff;
}

.grid-container {
	color: #000;
	font-weight: 200;
	font-size: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	border-bottom: 1px solid black;
    background-color: #fff;
    padding: 5px 25px
}

.grid-container img {
    max-width: 25px;
}


.grid-item {
    padding: 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.expanding-element {
	padding: 0px 10px 10px 10px;
	grid-column: 1 / -1;
	display: none; /* initially hidden */
  }

  .expanding-element a {
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    max-width: 200px;
    text-decoration: none;
  }

  .expanding-element a:hover {
    background-color: #fae100;
    color: #000;
  }

  /* Donate Section */

  #donate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 75px 0px;
}

.donate-content {
    max-width: 900px; 
    background-color: #fae100;
    padding: 75px 0px;

}

.donate-content h1 {
    font-size: 6.5rem;
    line-height: 6rem;
}

.donate-content p {
    padding-top: 15px;
    max-width: 600px;
    display: inline-block;
}

.donate-content .hashtag {
    font-weight: 1000;
}

.donate-content .hashtag a {
    text-decoration: none;
    color: #000;
} 

/* Footer */

.outside-footer {
    background-color: #fae100;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0px 50px;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: #fae100;
    padding: 75px 0px;
    width: 100%;
}

.content-box-footer {
    background-color: #fae100;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 50px;
}

.content-box-footer img {
    max-width: 25px;
    height: auto;
}

.content-box-footer .text {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

.content-box-footer button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content-box-footer button:hover {
    background-color: #fae100;
    color: #000;
}

.content-box-footer .hashtag {
    font-weight: 1000;
    margin-top: 5px;
}

.content-box-footer .hashtag a {
    text-decoration: none;
    color: #000;
}

.content-box-footer .hashtag a:hover {
    color: #fae100;
}

.content-box-footer a {
    margin-top: 5px;
}

.content-box-footer-cta {
    background-color: #000;
    max-width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-box-footer-cta h2 {
    color: #fff;
}

.content-box-footer-cta p {
    color: #fff;
}

.signup {
    border: 1px solid #000;
    padding: 5px;
    margin-top: 15px;
    max-width: 200px;
}

.signup-button {
    border: 1px solid #000;
    padding: 5px;
    margin-top: 5px;
    max-width: 100px;
    background-color: #000;
    text-align: center;
}

.signup-button a {
    color: #fff !important;
    text-decoration: none;
}

.content-box-footer a {
    color: #000;
    text-decoration: none;
}

h2.yellowdivider {
    color: #fae100;
}

/* SUBPAGES */
/* Support */

.hero-sub {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero-sub-content img {
    width: 100%;
}

.hero-sub-content h1 {
    font-size: 6.5rem;
    line-height: 6rem;
}

.hero-sub-content p {
    padding-top: 15px;
}

.hero-sub-content .hashtag {
    font-weight: 1000;
}

.hero-sub-content .hashtag a {
    text-decoration: none;
    color: #000;
}

/* grid */

.support {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 50px 0px;
}

.support-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.support-grid-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.support-grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.support-grid-item img .you {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.support-grid-item h3 {
    font-size: 1em;
    margin: 10px 0;
}

.support-grid-item p {
    font-size: 1em;
    color: #666;
}

.support-grid-item button {
    background-color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.support-grid-item button a {
    color: #fff;
    text-decoration: none;
}

.support-grid-item button a {
    color: #fff;
}

.socials {
    max-width: 25px;
    display: inline-block;
    margin-top: 10px;
}

/* Our Case */

.content-box-sub {
    background-color: #fff;
    overflow: hidden;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-box-sub h2 {
    background-color: #fff;
    overflow: hidden;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Serif JP", serif;
}

.content-box-sub p {
    margin-top: 10px;
}

.article {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.article h3 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    margin: 25px 0px;
}

.article p {
    line-height: 25px;
}

.article img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.container.article {
    padding-top: 0px;
}

p.caption {
    display: flex;
    justify-content: center;
    color: #d3d3d3;
    font-size: 0.75rem;
}

.article button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.article button:hover {
    background-color: #fae100;
    color: #000;
}

a.caption {
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.article h2 {
    margin: 25px 0px;
}

/* Docs */

.topics {
    display: flex;
    gap: 20px;
}

.topics a {
    text-decoration: none !important;
    color: #000;
    padding: 10px 20px;
    background-color: #fae100;
}

.topics a:hover {
    color: #fff;
    background-color: #000;
    transition: transform 0.3s ease-in;
}

.topics a::after {
    display: none;
}

.spacer {
    padding: 25px;
    background-color: #fff;
}

a.intext {
    font-weight: 1000;
    color: #000;
    text-decoration: none;
    position: relative;
}

a.intext:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fae100;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.2s ease-in-out;
}

.list {
    display: flex;
    border-bottom: 1px solid #ababab;
    padding-bottom: 15px;
}

.list-box {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.list-box h3 {
    font-size: 1rem !important;
}

.list-box a {
    font-weight: inherit;
}

.list-box a:after {
    display: none;
}

.list-box p {
    font-size: 0.75rem;
    line-height: inherit;
}

/* About */

.organizers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 25px;
    border-bottom: 1px solid #ababab;
    padding-bottom: 25px;
}

.organizers img {
    width: 33.33%;
    max-width: 200px;
    height: auto;
}

.organizers-text {
    width: 66.67%;
    padding: 20px;
    align-self: flex-start;
}

/* Responsive styles */
@media (max-width: 768px) {
    .support-grid-container {
        grid-template-columns: 1fr;
    }

    .navbar-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #fae100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navbar-links a {
        margin: 2px 0;
        font-size: 24px;
    }

    .burger {
        display: block;
    }

    .hero {
        background-size: 180% !important;
    }

    .hero-content {
        padding: 0px 50px;
    }

    h1 {
        font-size: 4.5rem !important;
        line-height: 4.5rem !important;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        flex: 1 1 100%;
        max-width: 100% !important;
    }

    .content-box-bottom {
        flex: 1 1 100%;
        max-width: 100% !important;
        margin-top: 25px;
    }

    .content-box-sub {
        max-width: 100% !important;
        margin-top: 25px;
    }

    .divider {
        display: none;
    }

    #donate {
        padding: 0px 0px !important;
    }
    
    .outside-footer {
        border-top: 1px solid #000;
        margin: 0px 0px !important;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .content-box-footer {
        flex: 1 1 100%;
        max-width: 100% !important;
        padding: 0px 0px !important;
        margin-top: 15px;
        margin-left: 25px;
    }

    .content-box-bottom {
        flex: 1 1 100%;
        max-width: 100% !important;
    }

    button {
        margin-bottom: 10px;
    }

    .content-box-bottom button {
        margin: 10px auto;
    }

    .content-box button {
        margin: 0px auto;
    }

    html, body {
        overflow-x: hidden;
    }
}
